<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

    <div class="container">
        <hr>
        <h1> <%=question.title%>  </h1>
        <p><%=question.description%> </p>
        <hr>
        
        <form method="POST" action="/answer">
            <h3>Responda</h3>
            <label for="">Resposta:</label>
            <textarea name="body" placeholder="Digite sua resposta.." class="form-control" ></textarea>
            <input type="hidden" name="questionId" value="<%=question.id%>">
            <button type="submit" class="btn btn-primary mt-1">Responder</button>
        </form>
        <hr>
        <h3>Respostas</h3>
        <hr>
        <% answers.forEach(answer =>{%>
            <div class="card m-1">
                <div class="card-body">
                    <p><%=answer.body%></p>
                </div>
            </div>
        <%}) %> 
    </div> 

<%- include('partials/footer.ejs') %>
